<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" th:href="@{/image/cake.png}">

    <!-- CSS Bootstrap only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"/>

    <!-- swiper link  -->
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!-- cdn icon link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- custom css file  -->
    <link rel="stylesheet" th:href="@{stylesheets/paymentFileUpload.css}">

</head>
<body>
    <!-- header section start here  -->
    <header class="header">
        <div class="logoContent">
            <a th:href="@{/home}" class="logo"><img th:src="@{image/cake.png}" alt="cake icon"></a>
            <h1 class="logoName">iRizq Kitchen</h1>
        </div>
  
        <nav class="navbar">
            <a th:href="@{/catalogue}">Catalogue</a>
            <a th:href="@{/about}">About</a>
            <a th:href="@{/faqs}">FAQs</a>
            <a th:href="@{/custprofile}">Profile</a>
        </nav>
    </header>
    <!-- header section end here  -->

    <main>
        <h1>Payment for Order</h1><br>

        <img src="" alt="">

        <form action="/upload" method="POST" enctype="multipart/form-data">
            <input type="file" name="fileUpload" id="fileUpload">
            <input type="submit" value="Upload">
        </form>
    </main>
</body>
</html>